# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/chat-project/v17
/chat-project/chat-project.vcxproj.filters
/chat-project/chat-project.vcxproj.user
/chat-project/x64/Debug
/x64/Debug
/check-cppcheck-build-dir
/check.cppcheck
